body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/**
 * Status colors
 */

:root {
    --status-not-started: #b1b4b6;
    --status-in-progress: #f47738;
    --status-on-hold: #1d70b8;
    --status-completed: #00703c;
    --status-cancelled: #d4351c;
}

.status-NotStarted {
    color: var(--status-not-started);
}

.status-InProgress {
    color: var(--status-in-progress);
}

.status-OnHold {
    color: var(--status-on-hold);
}

.status-Completed {
    color: var(--status-completed);
}

.status-Cancelled {
    color: var(--status-cancelled);
}