body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
}

/**
 * Status colors
 */

:root {
    --status-not-started: #505a5f;
    --status-in-progress: #f47738;
    --status-on-hold: #1d70b8;
    --status-completed: #00703c;
    --status-cancelled: #d4351c;

    --error: #d4351c;
    --info: #505a5f;

    --error-accent: #fcd5cf;

    --accent: #1d70b9;
    --accent-hover: #155084;

    --light-accent: #bddbf5;
    --light-accent-hover: #7ab6eb;

    --white: #ffffff;
    --black: #0b0c0c;
}

.status-NotStarted {
    color: var(--status-not-started);
}

.status-InProgress {
    color: var(--status-in-progress);
}

.status-OnHold {
    color: var(--status-on-hold);
}

.status-Completed {
    color: var(--status-completed);
}

.status-Cancelled {
    color: var(--status-cancelled);
}