.title-divider {
    border-bottom: 2px solid #000;
    margin-bottom: 1rem;
}

.left-column {
    padding-top: 1rem;
    /* border-right: 2px solid #000; */
    background-color: hsl(208, 73%, 85%);
}

.button-row {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
}

.new-task-btn {
    background-color: hsl(208, 73%, 42%);
}


.new-task-btn:hover {
    background-color: hsl(208, 73%, 30%);
}