<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
      <h1 class="govuk-fieldset__heading">{{ lablel }}</h1>
    </legend>

    @for (status of statusList; track $index) { @if (type === 'checkboxes') {
    <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <input
          class="govuk-checkboxes__input"
          id="{{ status }}-checkboxes-{{ $index }}"
          name="status-checkboxes"
          type="checkbox"
          value="{{ status }}"
          [checked]="true"
          (change)="selectStatus(status)"
        />
        <label
          class="govuk-label govuk-checkboxes__label"
          for="{{ status }}-checkboxes-{{ $index }}"
        >
          {{ status | statusPrinter }}
        </label>
      </div>
    </div>
    } @else if (type === 'radios') {
    <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input
          class="govuk-radios__input"
          id="{{ status }}-radio-{{ $index }}"
          name="status-radio"
          type="radio"
          value="{{ status }}"
          [checked]="true ? $index === 0 : false"
          (change)="selectStatus(status)"
        />
        <label class="govuk-label govuk-radios__label" for="{{ status }}-radio-{{ $index }}">
          {{ status | statusPrinter }}
        </label>
      </div>
    </div>
    } }
  </fieldset>
</div>
