.button-row {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
}

.new-task-btn {
    background-color: var(--accent);
}


.new-task-btn:hover {
    background-color: var(--accent-hover);
}

.case-number {
    color: #505a5f;
    border-color: #b1b4b6;
}