<div class="mobile-margin"></div>

@if (error) {
<error-no-connection></error-no-connection>

} @else if (loading) {
<p class="govuk-heading-s">Loading tasks...</p>

} @else if (tasks.length === 0) {
<generic-error
  [errorLevel]="'info'"
  [errorTitle]="'No tasks available'"
  [errorMessage]="'There are currently no tasks. Use the new task button to add a task.'"
></generic-error>

} @else if (tasks.length === 0) {
<empty-filter></empty-filter>

}@for (task of tasks; track $index) {
<task [task]="task"></task>
<div class="divider"></div>
}

<pagination
  [currentPage]="currentPage"
  [totalPages]="totalPages"
  (pageChange)="pageChanged($event)"
></pagination>
