<div class="govuk-form-group">
  <h1 class="govuk-label-wrapper">
    <label class="govuk-label govuk-label--s" for="event-name">{{ label }}</label>
  </h1>
  <div class="inline-form-group">
    <select
      #searchType
      (change)="selectChaged(searchType.value)"
      class="govuk-select search-type"
      id="search-type"
      name="taskSearchType"
    >
      <option value="caseNumber">CN</option>
      <option value="id" selected>ID</option>
    </select>
    <input
      #searchInput
      class="govuk-input"
      (input)="inputChanged(searchInput.value)"
      id="task-search"
      name="taskSearch"
      type="number"
    />
  </div>
</div>
